# Ignore IDE and Operating System artifacts
.idea
.classpath
.metadata
.project
.settings
maven-eclipse.xml
*.iml
*.ipr
*.iws
.DS_Store
.vscode/

# Ignore compilation results
target/*

# npm packages
node_modules
