DirectoryIndex /aboutme/index.html

RewriteEngine On

RewriteRule ^/$ /aboutme [PT,L]

RewriteCond %{REQUEST_URI} !^/aboutme/
RewriteRule ^(favicon.*)$ /aboutme/$0
RewriteRule ^(sitemap.xml)$ /aboutme/$0
RewriteRule ^(?:css|images|js|fonts|inc)/.*$ /aboutme/$0
